<% layout("/Layouts/boilerplate") %>

    <div class="row mt-3 mb-3">
        <div class="col-8 offset-2">
            <h3>Edit listing</h3>
            <form method="post" action="/listings/<%=listing._id%>?_method=PUT" enctype="multipart/form-data" novalidate
                class="needs-validation">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" type="text" class="form-control" required value="<%= listing.title %>">
                    <div class="invalid-feedback">
                        Title is required.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" required type="text"
                        class="form-control"><%=listing.description%></textarea>
                    <div class="invalid-feedback">
                        Please enter a short description.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="category" class="form-label fw-semibold">Category</label>
                    <select class="form-select shadow-sm" id="category" name="category" required>
                        <% categories.forEach(cat=> { %>
                            <option value="<%= cat %>" <%=listing.category===cat ? 'selected' : '' %>>
                                <%= cat %>
                            </option>
                            <% }) %>
                    </select>
                    <div class="invalid-feedback">
                        Please select a valid category before submitting.
                    </div>
                </div>



                <div class="mb-3">
                    Original Listing Image <br>
                    <img src="<%= originalImgUrl %>" alt="img">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload New Image</label>
                    <input name="listing[image]" type="file" class="form-control">
                </div>

                <div class="row">
                    <div class=" mb-3 col-md-4">
                        <label for="pice" class="form-label">Price</label>
                        <input name="listing[price]" type="number" class="form-control" required
                            value="<%= listing.price %>">
                        <div class="invalid-feedback">
                            Price should be valid.
                        </div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input name="listing[location]" type="text" required class="form-control"
                            value="<%= listing.location %>">
                        <div class="invalid-feedback">
                            Country name should be valid.
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[country]" type="text" required class="form-control"
                        value="<%= listing.country %>">
                    <div class="invalid-feedback">
                        Location should be valid.
                    </div>
                </div>
                <button class="btn btn-dark edit-btn mt-3">edit</button>
            </form>
        </div>
    </div>